

<div class="container">		
			<div class="well">
				<ul class="nav nav-pills">
					<li ng-repeat="room in rooms" ng-class = "setActive(room)">
						<a ng-href="#/room/{{ room }}">{{ room }}</a><button class="close close-room" ng-click="partRoom()">&times;</button>
					</li>
				</ul>
				<div class="row">
					<div class="col-md-9 col-xs-9">
						<ul style="list-style: none">
							<li ng-repeat="message in messages">
								<span>
									<strong>[{{ message.timestamp | date:"HH:mm:ss" }}]:</strong>
									<strong>
										{{ message.nick }}
									</strong>
									{{ message.message }}
								</span>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-xs-3">
						<p>Users</p>
						<ul>
							<li ng-repeat="user in users">
								{{ user }}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<input ng-model="currentMessage" class="form-control" ng-keypress="keyPress($event)" />
			<button ng-click="send()">Send</button>
			<button ng-click="disconnect()">Disconnect</button>
</div>


<ul class="nav nav-tabs sevensixfive">
  <li ng-repeat="ro in rName" ng-class="setActive(ro)">
		<a ng-href="#/room/{{ro}}" id="{{ro}}">{{ro}}</a><button class="close close-room" ng-click="leaveRoom()">&times;</button>
	</li>
</ul>