
<div class="container">	
	<div class ="row-buttons">
			<div class ="btn-group">
				
				<button class = "btn btn-default" ng-click="createRoom()">Create new room</button>
				<button class = "btn btn-default" ng-click="disconnect()">Disconnect!</button>	
				<button class="btn btn-default" ng-click="partRoom()" ng-href="#/room/lobby"> Leave Room</button>
			</div>
	</div>
	<div class="well">
		<div class="row-msg">
			
			<h3>
			{{roomName}}: 
			</h3>
				<ul style="list-style: none">
					<li ng-repeat="message in messages">
						<span>
							<strong>
							{{ message.timestamp |date:"HH:mm:ss" }}:</strong>
							<strong>
								{{ message.nick }}
							</strong>
								{{ message.message }}
						</span>
					</li>
				</ul>
		</div>
		<div class ="row-send">
			<div class="col-lg-6">
				<div class="input-group">
					<span class = "input-group-btn">
						<button class = "btn btn-default" ng-click="send()">Send!</button>
					</span>
					<input ng-model="currentMessage" class="form-control" ng-keypress="keyPress($event)" />
				
				</div>
			</div>
		</div>

		<div class = "row-ops">			
			<h3>Ops: </h3>
				<ul>
					<li ng-repeat="op in ops">
						@{{ op }}
					</li>
				</ul>
		</div>
		<div class= "row-usr">		
			<h3>Users:</h3>	
				<ul>
					<li ng-repeat="user in users">
						{{ user }}
					</li>
				</ul>
		</div>
		
		<div class = "row-rooms">
				<h3>Rooms:</h3>
					<li ng-repeat="room in roomList">
						<ul>	
						<a ng-href="#/room/{{room}}">{{room}}</a>
						</ul>
					</li>
					
		</div>
			
	
	</div>
		

	<ul class="nav nav-tabs">
		<li ng-repeat="chat in privChat">
			<button id="{{ chat }}" ng-click="derp(chat)" >{{ chat }}
				<div class="{{ chat }}"> 
				<div class = "col-lg-12">
					<ul style="list-style: none">
						<li ng-repeat="privmsg in privmessages">
							<span>
									<strong>
								[{{ privmsg.timestamp |date:"HH:mm:ss" }}]:</strong>
								<strong>
									{{ privmsg.nick }}
								</strong>
									{{ privmsg.message }}
							</span>
						</li>
					</ul>
				</div>
				</div>
			</button>
		</li>
	</ul>
</div>