<div class ="header">

	<img class="pull-right UserPic" src="/images/Dr_Evil.jpg"></img>
	<p class = "pull-right UserName">Dr Evil</p>
	<h2 class= "text">Skilaverkefni 3</h2>
</div>
<div class = "btn-toolbar">
	<input type = "button" class ="btn btn-primary" ng-click="TESTCLICK()" value = "CLICKTOGETSINGLE"></button>
	<input type = "button" class ="btn btn-primary" ng-click="TESTCLICK2()" value = "CLICKTOPOST-TEMPLATE"></button>
	<input type = "button" class ="btn btn-primary" ng-click="TESTCLICK3()" value = "CLICKTOPOST-EVAL"></button>
	<input type = "button" class = "btn btn-primary" ng-click="openEval()" value = "New Evaluation"></button>
</div>
<div class="container">
	<div class= "row">
		<div class = "col-md-4 list-custom">
			<div class = "panel-heading">Evaluations</div>
			<ul ng-repeat="evaluation in evaluations">
				<li>{{ evaluation.ID }} - {{ evaluation.TemplateTitleIS }}</li>
			</ul>

		</div>
		<div class="col-md-4 list-custom">		
			
			<div class ="panel-heading">Evaluation templates</div>
			<ul ng-repeat="evaluation in evaluationtemplates">
				<li>{{ evaluation.ID }} - {{ evaluation.TitleIS }}</li>
			</ul>
		</div>
		<div class="col-md-4 list-custom">
			<div class = "panel-heading">Courses</div>
			<ul ng-repeat="course in courses">
				<li>{{ course.CourseID }} - {{ course.NameIS }}</li>
			</ul>
		</div>
	</div>
</div>

