
<div ng-controller="answerEvalController">
	<div class ="header">

	<form >
		<h2>{{evaluation.TitleIS}}</h2>
		<h2>{{evaluation.TitleEN}}</h2>

		<h2>{{evaluation.IntroTextIS}}</h2>
		<h2>{{evaluation.IntroTextEN}}</h2>

		Course Questions: 
		<ul ng-repeat="courseQ in evaluation.CourseQuestions">
			<li>{{courseQ.TextEN}}</li>
			<li>{{courseQ.TextIS}}</li>
			<li>{{courseQ.ImageURL}}</li>
		</ul>
		<ul ng-repeat="teacherQ in evaluation.TeacherQuestions">
			<li>{{teacherQ.TextEN}}</li>
			<li>{{teacherQ.TextIS}}</li>
			<li>{{teacherQ.ImageURL}}</li>
		</ul>
	</form>
</div>
