<div >
	<div class ="header">
		<h2>{{evaluationTemp.TemplateTitleIS}}</h2>
	</head>
<!--
	<form class = "list-custom">
		{{evaluation.TemplateTitleIS}}
		{{evaluation.TemplateTitleEN}}
		<ul ng-repeat="q in evaluation.Questions">
			<li>{{q.ID}}</li>
<div ng-controller="answerEvalController">
	<div class ="header">

	<form >
		hi from answerEval.htlm
		<h2>{{evaluationTemp.TemplateTitleIS}}</h2>
		<h2>{{evaluationTemp.TemplateTitleEN}}</h2>

		
		<ul ng-repeat="q in evaluationTemp.Courses.0.Questions">
			hey hey
			<li>{{q.QuestionID}}</li>
			<li>{{q.TextIS}}</li>
			<li>{{q.TextEN}}</li>
			<li>{{q.TeacherSSN}}</li>
			<li>{{q.Type}}</li>
			<div ng-if="questionType(q.Type) !==">hello</div>
			<ul ng-if="questionType(q.Type) != 0" ng-repeat="ans in q.TextResults">
				<li ng-if="questionType(q.Type) === 1"></li>
				<li ng-if="questionType(q.Type) === 2"><input type="radio"></li>
				<li>{{ans}}</li>
			</ul>
		</ul>
	</form>
</div>
