<div class= "login-modal">
        <div class="modal-header">
            <h2>Login</h2>
        </div>
        
        <div class="modal-body">
            
            <div class="col-md-6">
            
             <input type="text" class ="form-control" id="username" ng-keypress="keyPress($event)" placeholder= "User name"></input> 
            </div>
            <div class="col-md-6">

            <input type="password" class ="form-control" id="password" ng-keypress="keyPress($event)" placeholder= "Password"></input>
            </div>
            
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Login</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
</div>