<div>
        <div class="modal-header">
            <h3>Login</h3>
        </div>
        
        <div class="modal-body">
             Username:  <input type="text" id="username" ng-keypress="keyPress($event)"></input><br> <br> 
             Password:  <input type="password" id="password" ng-keypress="keyPress($event)"></input>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
</div>