<h1>User Evaluations</h1>
<ul>
	<li ng-repeat="evaluation in evaluations">
		<a ng-href="#/evaluation/{{ evaluation.ID }}">{{ evaluation.TitleIS }}</a>
	</li>
</ul>

<input type = "button" ng-click="geteval()" value = "CLICKGETEVAL"></button>
<input type = "button" ng-click="posteval()" value = "CLICKPOSTEVAL"></button>

<div>
	<p>Username: {{ items.Username }}</p>
	<p>Full Name: {{ items.FullName }}</p>
	<p>SSN: {{ items.SSN }}</p>
	<p>Email: {{ items.Email }}</p>
	<p>Role: {{ items.Role }}</p>
	<img src="{{ items.ImageURL }}"></img>
	
</div>

<div>
	<li ng-repeat="course in courses">
		<ul>{{ course.CourseID }} - {{ course.NameIS }}</ul>
	</li>
</div>