<div class ="header">

	<img class="pull-right UserPic" src="{{ items.ImageURL }}"></img>
		<p class = "pull-right UserName">{{items.FullName}}</p>
		<h2 class= "text">Skilaverkefni 3</h2>
</div>

<div class ="container">
	<div class"btn-toolbar">
		<div class = "btn-group">
			<input type = "button" class ="btn btn-primary"  ng-click="geteval()" value = "CLICKGETEVAL"></button>
			<input type = "button" class = "btn btn-primary" ng-click="posteval()" value = "CLICKPOSTEVAL"></button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class ="panel-heading">Courses</div>
				<ul class = "list-group" ng-repeat="course in courses">
					<li class = " list-group-item list-custom">{{ course.CourseID }} - {{ course.NameIS }}</li>
				</ul>		
		</div>
		<div class="col-md-4 list-custom">
			<div class = "panel-heading">Teachers</div>
				<ul ng-repeat="teacher in teachers">
					<li class= "list-group-item list-custom">{{ teacher.FullName }}</li>
				</ul>
				
		</div>
		<div class = "col-md-4 list-custom">
			<div class = "panel-heading">Evaluations</div>
			<ul ng-repeat="evaluation in evaluations">
				<li ng-if="isOpen(evaluation)" class = "list-group-item list-custom"><a ng-click= "answerEval(evaluation.ID)">{{ evaluation.ID }} - {{ evaluation.TemplateTitleEN }}</a></li>
			</ul>
		</div>
		
	</div>	
	
	

